/* Element Selector */
/* div {
    background-color: red;
} */

/* Class Selector */
.red {
    background-color: red;
}

/* ID Selector */
#green {
    background-color: green;
}

/* Child Selector */
div>p {
    color: blue;
    background-color: brown;
}

/* Descendant Selector */
div p {
    background-color: rgb(212, 250, 122);
    color: rgb(233, 121, 121);
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
}

/* Pseudo Selector */
a:visited {
    color: yellow;
}

a:link {
    color: green;
}

A:active {
    background-color: gray;
}

a:hover {
    background-color: yellow;
}

p:first-child {
    background-color: bisque;
}